/* line 3, ../../../../sass/src/view/main/Footer.scss */
.app-footer-title {
  color: #0b67c4;
  font-size: 12px;
  font-weight: bold;
}

/* line 9, ../../../../sass/src/view/main/Footer.scss */
.app-footer {
  border-top: 1px solid #07417c;
}

/* line 13, ../../../../sass/src/view/main/Footer.scss */
.app-footer-title {
  color: #0b67c4;
  font-size: 12px;
  font-weight: bold;
}

/* line 19, ../../../../sass/src/view/main/Footer.scss */
.app-footer {
  border-top: 1px solid #07417c;
}
