@import "fontAwesome/font-awesome";

body {

   &#ext-element-1 {
     background-color: blue;
     box-shadow: inset 0 0 50px rgb(0, 0, 0);
     box-sizing: border-box;
     width:100vw;
     height:100vh;
     overflow: hidden;
   }

  .splashscreen{
    &.x-mask {
      background-color: white;
      opacity: 1;
    }
    &.x-mask-msg,
    &.x-mask-msg div {
      font-size: 16px;
      font-weight: bold;
      padding: 30px 5px 5px 5px;
      border: none;
      background: {           // #1
        color: transparent;   // #2
        position: top center; // #3
      }
    }
  }
  .x-message-box .x-window-body .x-box-inner {
    min-height: 610px !important;
  }
  .x-splash-icon {
    // background-image: url('images/app/Girls-Blue-Dress-icon.png') !important;
    background-image: url('../../resources/images/app/Girls-Blue-Dress-icon.png');
    height:500px;
    width:500px;
    margin-top: -300px;
    margin-left:-300px;
  }
}


//testing stuff
.appBanner {
  color: white; }

.rowgreen {
  background-color: green;
}